.about__cta-container {
    width: 100%;
    height: 40vh;
    padding: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__cta-container h1,
.about__cta-container p {
    width: 100%;
    text-align: center;
    color: var(--secondary);
}

.about__cta-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    padding: 1.25rem;
    margin-top: 2.5rem;

    background-color: var(--accent);
    color: var(--secondary);
}


