.about__our-team {
    width: 100%;
    padding: 5% 10%;
    background-color: var(--secondary);
}

.about__our-team h1 {
    color: var(--accent);
}

.about__card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 6rem;
    margin-top: 2rem;
}

.about__card{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 2rem 2rem;
}

.about__card-image {
    width: 200px;
    height: 180px;
    background-color: var(--accent);
    position: relative;
}

.about__card-image img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
}

.about__card h3 {
    color: var(--accent);
}

.about__card p {
    color: var(--primary);
    font-weight: 200;
}

