.badge__ongoing {
    background-color: var(--ongoing);
}
.badge__completed {
    background-color: var(--approved);
}
.badge__return {
    background-color: var(--forreturn);
}
.badge__onhold {
    background-color: var(--onhold);
}
.badge__unknown {
    background-color: #838383;
}
.badge__container {
    color: var(--primary);
}