.passwordreset__container {
    background-color: var(--secondary);
}

.passwordreset__container label, 
.passwordreset__container h1 {
    color: var(--primary);
}

.passwordreset__container button {
    background-color: var(--accent);
    border: none;
    outline: none;
}