.hero-container {
    width: 100vw;
    padding: 0 10% 0 10%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    background-image: url(../../../assets/res/Homepage/hero-background.png);
    background-size: cover;
    background-position: center;
    gap: 48px;
}

.hero-container h1{
    font-size: 48px;
    margin-top: -20%;
    color: var(--primary);
    z-index: 2;
}

.hero-container span{
    color: var(--accent);
}

.hero-background {
    width: 100vw;
    height: 120vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, var(--secondary,1), rgba(255,0,0,0));
    z-index: 1;
}

.hero-container form,
.hero-container input,
.hero-container button{
    z-index: 2;
}


