.tracking__tracking-form-container form{
    width: 720px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
    border: 1px solid #1c1c1c;
    margin: 1rem 0 1rem 0;
}

.tracking__tracking-form-container .button-responsive-mobile { 
    display: none;
}

.tracking__tracking-form-container input{
    width: 85%;
    padding: 12px;
    border: none;
    outline: none;
    background-color: var(--primary);
}

.tracking__tracking-form-container input:focus {
    border: none; 
    outline: none; 
}

.tracking__tracking-form-container button{
    width: 15.5%;
    border: transparent;
    background-color: var(--accent);
    font-size: 14px;
    font-weight: 600;
}


.tracking__tracking-form-container {
    width: 100%;
    padding: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tracking__tracking-form-container h2 {
    margin-top: 4rem;
    color: var(--secondary);
}