/* @tailwind base; */
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary: #f4f4f4;
    --secondary: #0d3255;
    --accent: #ffab2e;
    --white: #e6e7e9;

    --ongoing: #4653CC;
    --onhold: #FFAB01;
    --approved: #37B37E;
    --forreturn: #FF5630;
}

html, body {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* ::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--secondary);
    border-radius: 10px;
    overflow: hidden;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: var(--secondary);
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--accent);
} */

::-webkit-scrollbar {
    height: 20px;
    width: 20px;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: #b7bfc2;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #879597;
}

